*{box-sizing: border-box;}

body
{
    font-family:'Langar', cursive;;
    border: none;
    margin: 0;
    background-color: rgba(0, 0, 0);
    color: white;  
}

/*header start*/
header
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10% 0 10%;
}
header h1
{
    font-family: 'Kavoon', cursive;
    font-size: 2.5em;
    background: linear-gradient(180deg, #8C00FB 21.88%, rgba(255, 10, 186, 0.72) 99.98%, rgba(248, 47, 240, 0.07) 99.99%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header ul
{
    display: flex;
    gap: 30%;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}
header svg
{
    fill: white
}
header a
{
    text-decoration: none;
}

#menu li
{
    position: relative;
    text-align: center;
}
.menuInfo
{
    position: absolute;
    display: none; 
}

#spray
{
    fill: #9f33f8;
}

#photographs
{ 
    top: 1vh;
    right: -2.6vw;
}

#paintings
{
    top: 1vh;
    right: -1.5vw;
}
#register
{ 
    top: 1vh;
    right: -1vw;
    white-space: nowrap;
}
#login
{
    top: 1vh;
    right: -0.7vw;
} 

/* @media screen and (min-width: 1252px)
{
    #photographs
    { 
        left: -1.8vw;
    }

    #paintings
    {
        left: -1.4vw;
    }
    #register
    { 
        left: -1vw;
    }
    #login
    {
        left: -0.6vw;
    }
} */

header li:hover svg
{
    fill:#9f33f8;
    
}

#menu li:hover p
{
    display: block;
    color:#9f33f8; 
}
/*header end*/

/* banner start */
#banner
{
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 83vh;
    background-image: url(https://cdn.leonardo.ai/users/62103611-9796-4122-8589-b5731d68e6bd/generations/30352470-2ca6-4b1b-a83f-57b990214513/Ilustration_V2_child_painting_grafitti_0.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    filter: saturate(0);
    text-align: center;
    transition: 1s;
}
#banner span
{
    font-size: 1.5em;  
}
#banner a
{   
    display: inline-block;
    text-decoration: none;
    color: white;
    padding-left: 5vh;
    padding-right: 5vh;
    transition: 1s;
    
}
#banner:hover
{
    filter: saturate(2);
}
/* banner end */

/* galery start */
#gallery
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    width: 100%;
    text-align: center;
    gap: 5%;
    padding: 0 5%;

}

.painting
{
    background-color: aliceblue;
    height: 40vh;
    width: 100%;
    transition: 1s;
    background-size: cover;
    
}

#painting1
{
    background-image: url(https://cdn.leonardo.ai/users/62103611-9796-4122-8589-b5731d68e6bd/generations/6c495a76-d1df-47cb-98a9-04c3e7f79f06/Ilustration_V2_city_painting_graffiti_0.jpg);
    
}

#painting2
{
    background-image: url(https://cdn.leonardo.ai/users/62103611-9796-4122-8589-b5731d68e6bd/generations/ca55acdf-22fc-424e-a2c6-55c1136d9ab9/variations/Default_favela_in_flames_graffiti_style_painting_0_ca55acdf-22fc-424e-a2c6-55c1136d9ab9_0.png);
    background-size: 66vh;
    background-position: center;
}  


#painting3
{
    background-image: url(https://cdn.leonardo.ai/users/62103611-9796-4122-8589-b5731d68e6bd/generations/09a01a55-c2af-455e-a8ea-bb85364c985b/Ilustration_V2_city_painting_graffiti_0.jpg);
  
}

#painting4
{
    background-image: url(https://cdn.leonardo.ai/users/62103611-9796-4122-8589-b5731d68e6bd/generations/d315614f-a06a-40a9-bae6-d9f2f064f992/Ilustration_V2_butterfly_graffiti_painting_0.jpg);
}

#painting5
{
    background-image: url(https://cdn.leonardo.ai/users/62103611-9796-4122-8589-b5731d68e6bd/generations/0a088c65-143b-48ea-bb09-c13231e39d1e/Ilustration_V2_favela_hero_graffiti_0.jpg);
}

#painting6
{
    background-image: url(https://cdn.leonardo.ai/users/62103611-9796-4122-8589-b5731d68e6bd/generations/a6e85311-662d-458b-aeb5-0716e31734ef/Ilustration_V2_brazilian_indian_graffiti_0.jpg);
}

#painting7
{
    background-image: url(https://cdn.leonardo.ai/users/62103611-9796-4122-8589-b5731d68e6bd/generations/e0d395d5-6bed-4485-97c0-a14e51b8ceb8/Ilustration_V2_painting_hero_graffiti_0.jpg);
}

#painting8
{
    background-image: url(https://cdn.leonardo.ai/users/62103611-9796-4122-8589-b5731d68e6bd/generations/bbe5dec1-0635-4b52-9576-1d7cfa3dbaf1/Ilustration_V2_graffiti_style_painting_0.jpg);
}  

#painting9
{
    background-image: url(https://cdn.leonardo.ai/users/62103611-9796-4122-8589-b5731d68e6bd/generations/eca86354-6885-4361-bb52-96659d99ecdc/Ilustration_V2_dead_painting_graffiti_0.jpg);
}

#gallery article:hover .painting
{
    box-shadow: 1px 1px 6px 8px #971cfb42; 
    border: solid 2px #8C00FB;
    height: 50vh;
    background-position: center;
}

.prices
{
    transition: 1s;
    display: flex;
    align-items: center;
    border: solid white 2px;
    font-size: 2rem;
    justify-content: right;
    gap: 30%;
    padding: 0 5%;

}
.prices p
{
    margin: 0%;
}
.prices svg
{
    fill: white;
}
#gallery article:hover .prices
{
    background: linear-gradient(180deg, #8a00fb5e 21.88%, rgba(255, 10, 186, 0.35) 99.98%, rgba(248, 47, 240, 0.07) 99.99%);
}
/* galery end */


/* footer start*/
footer
{
    margin-top: 30vh;
}
footer div
{
    display: inline;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    text-align: center;
}

footer svg
{
    fill: #8C00FB;
}

footer a 
{
    color: #8C00FB;
    cursor: pointer;
}

/* footer end*/